@charset "utf-8";

/* CSS Document */



.navbar-inner { min-height: 70px;}

.navbar .navbar-inner {

  background: #000000;

  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #444444));

  background: -ms-linear-gradient(bottom, #000000, #444444);

  background: -moz-linear-gradient(center bottom, #000000 0%, #444444 100%);

  background: -o-linear-gradient(bottom, #000000, #444444);

  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#000000', EndColorStr='#444444');

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444',EndColorStr='#000000')";

  padding: 0em 1em;

  margin: 0px;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  -moz-background-clip: padding;

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

  border: 0px;

  border-bottom: 3px solid #ee3a2f;

}

.navbar .brand { padding: 15px 20px;}

.navbar .navbar-inner ul.nav.pull-right { margin-top: 15px;}

.navbar .navbar-inner ul.nav.pull-right ul.dropdown-menu li a { padding: 6px 20px;}

.navbar .navbar-inner ul.nav.pull-right ul.dropdown-menu li a:hover { background: #ee3a2f; color: #fff;}

.navbar .navbar-inner ul.nav.pull-right ul.dropdown-menu li.divider { margin: 5px 1px;}





.pageLogo { margin: 60px auto 20px auto; display: table; font-size: 34px; line-height: 40px; text-align: center; font-weight: bold;}

.pageLogo img { margin-top: 25px; display: block;}

.btn { border-radius: 4px;}

.btn-primary {

  background-color: #414959;

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6342a), to(#ee3a2f));

  background-image: -webkit-linear-gradient(top, #d6342a, #ee3a2f);

  background-image: -o-linear-gradient(top, #d6342a, #ee3a2f);

  background-image: linear-gradient(to bottom, #d6342a, #ee3a2f);

  background-image: -moz-linear-gradient(top, #d6342a, #ee3a2f);

  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#d6342a', EndColorStr='#ee3a2f');

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d6342a',EndColorStr='#ee3a2f')";

  border: 1px solid #ee3a2f;

}

.btn-primary:hover {

  background-color: #ee3a2f;

  *background-color: #ee3a2f;

}

.innerContainer { min-height: 520px;}

.paging { margin-top: 15px; margin-bottom: 20px;}

.paging .prev, .paging .next { padding: 5px 8px;}

.paging .next { border-left: 1px solid #ccc;}

footer { padding: 20px 0; border-top: 3px solid #ee3a2f; margin: 0;

background: #000000;

  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #444444));

  background: -ms-linear-gradient(bottom, #000000, #444444);

  background: -moz-linear-gradient(center bottom, #000000 0%, #444444 100%);

  background: -o-linear-gradient(bottom, #000000, #444444);

  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#000000', EndColorStr='#444444');

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444',EndColorStr='#000000')";

}

footer hr { margin: 0; border: 0;}

footer p { margin: 0; font-size: 13px; text-align: center;}

.adminLogin .block { border-radius: 5px; overflow: hidden;}

.adminLogin .block-body { margin: 25px 20px;}

.adminLogin input.span12 { margin-bottom: 20px;}

.adminLogin p.block-heading, .adminLogin a.block-heading, .adminLogin .block-heading a { font-size: 18px; line-height: 44px; color: #ee3a2f;}

.content { min-height: inherit;}

.container-fluid { padding-left: 0; padding-right: 0;}

.innerContainer .btn-toolbar { padding-left: 20px; padding-right: 20px;}



.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-lime-active {
    background-color: #00e765 !important;
}

.bg-aqua-active{
    background-color: #00a7d0 !important;
}
.bg-olive-active {
    background-color: #368763 !important;
}
.bg-yellow-active {
    background-color: #e1b011 !important;
}

.bg-blue-active {
    background-color: #1a5c95 !important;
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box>.inner {
  padding: 10px;    height: 150px;
}

.small-box>.small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}

.small-box>.small-box-footer:hover {
  color: #fff;
  background: rgba(0,0,0,0.15);
}

.small-box h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0px 0;
  white-space: nowrap;
  padding: 0;color:#fff;
}

.small-box p {
  margin-bottom:10px;
  font-size: 20px;color:#fff;
}

.small-box p>small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}

.small-box h3,.small-box p {
  z-index: 5px;
}

.small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0,0,0,0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.small-box:hover .icon {
  font-size: 95px;
}
.menu-box{width:25%; float:left;    padding-right: 15px;
    padding-left: 15px;}


    .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top:40px;
    min-height:700px;
}

.fa-check-circle{    font-size: 24px;
    color: #2ecc71;}


 .fa-ban{font-size: 24px;
    color:#e85547;}

.search-well input{border:1px #ccc solid;height:34px;margin-left:20px;}
.search-well form {
    margin: 1em 0em 1em 0em!important;
}
 .adminLogin label{width:100%; float:left;font-weight:normal;}
.remember-me{width:50%!important;}
 .adminLogin  .span12{width:100%;float:left;    min-height: 30px;border:1px #ccc solid;}

.close_btn{width:36px;height:36px;position:absolute;    top: -10px;
    right: -8px;}
.well .table tr td span.archive img{border:0px!important;    position: relative;
    top: -6px;
    left: -6px;
    margin-right: 4px;}



.sidebar-nav .nav-header.active {
  color: #fff;
  display: block;
  background: #07a1d4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #07a1d4), color-stop(1, #29beef));
  background: -ms-linear-gradient(bottom, #07a1d4, #29beef);
  background: -moz-linear-gradient(center bottom, #07a1d4 0%, #29beef 100%);
  background: -o-linear-gradient(bottom, #07a1d4, #29beef);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#29beef',EndColorStr='#07a1d4')";
}
.sidebar-nav .nav-list > li > a.active { color: #fff;
  display: block;
  background: #07a1d4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #07a1d4), color-stop(1, #29beef));
  background: -ms-linear-gradient(bottom, #07a1d4, #29beef);
  background: -moz-linear-gradient(center bottom, #07a1d4 0%, #29beef 100%);
  background: -o-linear-gradient(bottom, #07a1d4, #29beef);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#29beef',EndColorStr='#07a1d4')"; }
.navbar .brand { display: block; float: left; }

.sort.desc:after{opacity: 0.5; content: "\e156";}
.sort:after{
position: absolute;
top: 33%;
right: 1px;
display: block;
font-family: 'Glyphicons Halflings';
opacity: 0.3;
content: "\e150";
font-size: 10px;
}
}
.sort{ position: relative; padding-right: 25px !important; }
.sort.asc:after{ opacity: 0.5; content: "\e155";}
.user-table th{white-space: nowrap; }
.search-well input{ width: 200px; }