.finance_error{color:red;text-align:center;width:100%;float:left}.error{color:red}
.post-area .image-holder.fullsize-image,.post-area .image-holder.fullsize-image img{max-height:141px;}
.slider-nav .slick-slide > img {height: 60px;width: 60px;}
.irs-hidden-input#breadthnot,.irs-hidden-input#lengthnot{display:none !important;}/*Changes 24-08-2016*/
