// header

#header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 26px 0;
	position: absolute;
}

.logo {
	float: left;
	width: 298px;
	margin: 0 10px 0 0;
	
	@include media('<tablet') {
		width: 150px;
	}
	
	a {
		display: block;
	}
	
	img {
		@include img;
	}
}

.nav-opener {
	float: right;
	display: none;
	position: relative;
	@include size(31px);
	border-radius: 3px;
	border: solid 3px #fff;
	
	@include media('<desktop') {
		display: block;
	}
	
	span,
	&:after,
	&:before {
		left: 3px;
		right: 3px;
		top: 11px;
		height: 3px;
		background: #fff;
		border-radius: 3px;
		position: absolute;
		transition: all 0.25s ease;
	}
	
	&:after,
	&:before {
		top: 4px;
		content: '';
	}
	
	&:after {
		top: 18px;
	}
	
	.nav-active & {
		span { opacity: 0; }
		
		&:after,
		&:before {
			top: 11px;
			@include css3(transform,rotate(45deg));
		}
		&:after {
			@include css3(transform,rotate(-45deg));
		}
	}
}

#nav {
	float: right;
	font-weight: 300;
	margin: 10px -15px 0 0;
	@include font(16px, 21px);
	
	@include media('<desktop') {
		top: 0;
		left: 0;
		margin: 0;
		bottom: 0;
		z-index: 999;
		width: 250px;
		overflow: auto;
		position: fixed;
		border: solid lighten(#161b21, 5%);
		border-width: 20px 0;
		transition: all 0.26s ease;
		background: lighten(#161b21, 5%);
		@include css3(transform,translate(-100%,0));
	}
	
	.nav-active & {
		@include media('<desktop') {
			@include css3(transform,translate(0));
		}
	}
	
	ul {
		float: right;
		
		@include media('<desktop') {
			float: none;
		}
		
		a {
			color: #fff;
			display: block;
			padding: 10px 15px;
			border-radius: 4px;
			
			@include media('<desktop') {
				border-radius: 0;
			}
		}
		
		
		a:hover,
		.active a {
			background: #161b21;
		}
	}
	
	li {
		float: left;
		margin: 0 0 0 5px;
		
		@include media('<desktop') {
			margin: 0;
			float: none;
		}
	}
	
}