// main

.page-loader {
	height: 100%;
	overflow: hidden;
	
	&.page-loaded {
		height: auto;
		overflow: visible;
	}
}

/* loader-wrapper */
.loader-wrapper {
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	background: #fff;
	@include size(100%);
	transition: all 0.25s ease 2s;
	
	.page-loader.page-loaded & {
		@include css3(transform,scale(0));
	}
	
	
	.logo-icon {
		top: 50%;
		left: 50%;
		position: absolute;
		@include size(76px, auto);
		@include css3(transform,translate(-50%,-50%));
	}
	
	.loader {
		top: 50%;
		left: 50%;
		display: block;
		position: relative;
		border-radius: 50%;
		@include size(150px);
		margin: -75px 0 0 -75px;
		border: 3px solid transparent;
		border-top-color: #3498db;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 2s linear infinite;
		
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #e74c3c;
	
			-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
		
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #f9c922;
	
			-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
	}
}

.hero-block {
	color: #fff;
	position: relative;
	padding: 155px 0 97px;
	
	@include media('<tablet') {
		padding: 100px 0;
	}
	
	h1 {
		font-weight: 300;
		margin: 0 0 60px -3px;
		letter-spacing: 0.04rem;
		@include font(45px, 60px);
		
		@include media('<widescreen') {
			@include font(30px);
			margin: 0 0 30px;
		}
		
		@include media('<tablet') {
			font-size: 20px;
			margin: 0 0 20px;
		}
	}
	
	.text-area {
		padding-top: 69px;
		
		@include media('<widescreen') {
			width: 45%;
			padding-top: 0;
		}
		
		@include media('<tablet') {
			width: 100%;
			padding-bottom: 20px;
		}
	}
}

ul.list-check {
	margin: 0 0 15px;
	font-weight: 100;
	max-width: 460px;
	@include font(22px, 34px);
	
	@include media('<tablet') {
		max-width: none;
		@include font(18px, 26px);
	}
	
	li {
		position: relative;
		padding: 0 0 0 48px;
		letter-spacing: 0.031rem;
		
		+ li {
			margin: 15px 0 0;
		}
	}
		
	.icon-check-circle {
		left: 0;
		top: 5px;
		color: #00b4ff;
		font-size: 26px;
		position: absolute;
		
		@include media('<tablet') {
			top: 0;
		}
	}
}

/* form-delivery */
.form-delivery {
	width: 44.3%;
	margin: 0 0 10px;
	
	@include media('<widescreen') {
		width: 55%;
	}
	
	@include media('<tablet') {
		width: 100%;
	}
	
	h2 {
		font-weight: 600;
		margin: 0 0 14px;
		@include font(22px);
		letter-spacing: 0.129rem;
		text-transform: uppercase;
		
		@include media('<tablet') {
			font-size: 18px;
		}
	}
	
	.field-row {
		@extend %clearfix;
		margin: 0 0 10px;
	}
	
	.field-holder {
		float: left;
		width: 49%;
		
		@include media('<tablet') {
			width: 100%;
		}
		
		+ .field-holder {
			float: right;
			
			@include media('<tablet') {
				margin: 5px 0 0;
			}
		}
	}
	
	.form-control {
		color: #fff;
		height: 50px;
		font-weight: 500;
		padding: 6px 23px;
		background: #121416;
		@include font(16px);
		border-color: #36383a;
		
		&:focus {
			border-color: lighten(#36383a, 30%);
		}
		
		@include placeholder {
			color: #fff;
		}
	}
	
	.btn-pink {
		float: left;
		width: 49%;
	}
	
	.btn-green {
		float: right;
		width: 49%;
	}
}

ul.mode-selection {
	margin: 0 0 -2px;
	
	li {
		margin: 0 0 10px;
		overflow: hidden;
		position: relative;
		
		label {
			cursor: pointer;
			color: #90979c;
			display: block;
			background: #fff;
			overflow: hidden;
			position: relative;
			border: solid 1px #fff;
			padding: 12px 60px 10px 112px;
			
			@include media('<tablet') {
				padding: 10px 30px 10px 80px;
			}
			
			> * {
				transition: all 0.25s ease;
			}
		}
	}
	
	[class^="icon-"], [class*=" icon-"] {
		top: 50%;
		left: 22px;
		color: #183650;
		font-size: 24px;
		position: absolute;
		transition: all 0.25s ease;
		@include css3(transform,translate(0,-50%));
		
		@include media('<tablet') {
			left: 10px;
			font-size: 20px;
		}
			
		
		&.icon-check-circle {
			left: auto;
			opacity: 0;
			right: 16px;
			color: #55d423;
			background: #fff;
			text-align: center;
			@include size(36px);
			border-radius: 100%;
			@include font(27px, 35px);
			
			@include media('<tablet') {
				top: 20px;
				right: 8px;
				@include size(24px);
				@include font(20px, 24px);
			}
		}
		
		&.icon-bike {
			left: 24px;
			font-size: 34px;
			
			@include media('<tablet') {
				left: 10px;
				font-size: 26px;
			}
		}
		
		&.icon-van {
			left: 26px;
			font-size: 27px;
			
			@include media('<tablet') {
				left: 10px;
				font-size: 26px;
			}
		}
		
		&.icon-van2 {
			left: 29px;
			font-size: 32px;
			
			@include media('<tablet') {
				left: 10px;
				font-size: 28px;
			}
		}
	}
	
	.title {
		display: block;
		color: #183650;
		@include font(22px);
	}
	
	[type=radio] {
		display: none;
	}
	
	[type=radio]:checked + label,
	label:hover {
		color: #fff;
		background: #121416;
		border-color: #36383a;
		
		[class^="icon-"], [class*=" icon-"] {
			color: #fff;
			
			&.icon-check-circle {
				opacity: 1;
				color: #55d423;
			}
		}
		
		.title {
			color: #fff;
		}
	}
	
	p { margin: 0; }
}

.btn-pink,
.btn-green {
	color: #fff;
	height: 70px;
	@include align;
	font-weight: 600;
	overflow: hidden;
	text-align: center;
	position: relative;
	border-radius: 2px;
	background: #ff476a;
	@include font(18px, 22px);
	text-transform: uppercase;
	
	* {
		transition: all 0.25s ease;
	}
	
	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		height: 0;
		content: '';
		background: #fff;
		position: absolute;
		transition: all 0.25s ease;
	}
	
	&:hover {
		color: #ff476a;
		&:before {
			height: 100%;
		}
	}
	
	.text {
		display: block;
		font-weight: 400;
		@include font(12px);
		text-transform: none;
	}
	
	.text-holder {
		z-index: 2;
		display: table;
		position: relative;
		@include size(100%);
	}
	
	.text-frame {
		padding: 5px;
		display: table-cell;
		vertical-align: middle;
	}
	
	.icon-husky {
		display: block;
		font-size: 36px;
	}
	
	.normal {
		display: block;
	}
	
	.active {
		@include position(0);
		@include css3(transform,translate(-100%,0));
		
		i {
			display: block;
			line-height: 70px;
		}
	}
	
	&:active {
		.active { @include css3(transform,translate(0)); }
		.normal { @include css3(transform,translate(-100%,0)); }
	}
}


.btn-green {
	background: #55d423;
	
	&:hover {
		color: #55d423;
	}
}

/* msg-area */
.msg-area {
	margin: 0 0 59px;
	background: #f2f2f2;
	
	.container {
		padding: 15px 20px;
		position: relative;
		
		&:before {
			top: 0;
			bottom: 0;
			width: 1px;
			content: '';
			left: 231px;
			position: absolute;
			background: #e3e3e3;
			
			@include media('<tablet') {
				display: none;
			}
		}
	}
	
	h1 {
		float: left;
		width: 218px;
		color: #59636b;
		margin: 0 15px 0 0;
		padding: 0 10px 0 0;
		@include font(18px, 43px);
		
		@include media('<tablet') {
			padding: 0;
			float: none;
			width: auto;
			margin: 0 0 10px;
		}
		
		i {
			@include align;
			color: #9ea7af;
			margin: 0 12px 0 0;
			@include font(31px, 47px);
		}
	}
}

/* msg-slider */
.msg-slider {
	overflow: hidden;
	
	.switchers {
		width: 40px;
		float: right;
		margin: 12px 0 0 15px;
		
		a {
			float: left;
			color: #929ca5;
			font-size: 16px;
			
			&:hover {
				color: #ff476a;
			}
		}
		
		.btn-next {
			float: right;
		}
	}
	
	.mask {
		overflow: hidden;
	}
	
	.slideset {
		white-space: nowrap;
		width: 100% !important;
	}
	
	.slide {
		@include align;
		color: #929ca5;
		letter-spacing: 0.02rem;
		padding: 10px 10px 13px 0;
		
		a {
			color: #929ca5;
			text-decoration: none;
		}
		
		span {
			color: #ff476a;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	p { margin: 0; }
}

/* section-head */
.section-head {
	color: #666;
	padding: 0 0 46px;
	text-align: center;
	@include font(30px);
	
	@include media('<widescreen') {
		font-size: 24px;
		padding: 0 0 30px;
	}
	@include media('<desktop') {
		font-size: 18px;
	}
	
	h1 {
		color: #091d2f;
		margin: 0 0 1px;
		font-weight: 900;
		@include font(50px);
		
		@include media('<widescreen') {
			font-size: 30px;
		}
	}
	
	p {
		margin: 0 0 5px;
		letter-spacing: 0.03rem;
	}
}

/* section-foot */
.section-foot {
	color: #091d2f;
	text-align: center;
	@include font(20px);
	
	.btn-default {
		margin: 0 0 10px;
	}
	
	p {
		margin: 0;
		letter-spacing: 0.03rem;
	}
}

hr.divider {
	border-width: 0;
	margin: 0 auto 20px;
	background: #00b4ff;
	@include size(20px, 2px);
}

/* about-us */
.about-us {
	max-width: 1154px;
	padding-bottom: 53px;
	
	.section-head {
		p {
			max-width: none;
			margin: 0 0 12px;
		}
	}
	
	.posts-holder {
		margin-bottom: 7px;
	}
	
	.post {
		margin: 0 0 50px;
		text-align: center;
		
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			@include media('>=desktop') {
				margin: 0 0 26px;
			}
		}
	}
	
	.ico-holder {
		display: block;
		color: #dcdcdc;
		text-align: center;
		position: relative;
		margin: 0 auto 25px;
		border-radius: 100%;
		@include size(106px);
		border: #5dd62d solid 1px;
		
		&:after {
			content: '';
			position: absolute;
			@include size(100%);
			border-radius: 100%;
			pointer-events: none;
			box-sizing: content-box;
			
			top: -8px;
			left: -8px;
			padding: 8px;
			z-index: -1;
			opacity: 0;
			
			box-shadow: 3px 3px #5dd62d;
			@include css3(transform,rotate(-90deg));
			transition: opacity .2s, transform .2s;
		}
		
		&:hover {
			&:after {
				opacity: 1;
				@include css3(transform,rotate(0deg));
			}
			
			i {
				@include css3(transform,scale(1.2));
			}
		}
		
		
		i {
			display: block;
			transition: all 0.2s;
			@include font(45px, 104px);
		}
		
		.icon-time {
			font-size: 56px;
		}
		
		.icon-husky {
			font-size: 47px;
		}
	}
	
	
	h2 {
		margin: 0 0 8px;
		font-weight: 500;
		@include font(20px);
		
		a {
			@include link-color(#59636b);
		}
	}
	
	p {
		max-width: 280px;
		margin: 0 auto 10px;
	}
	
	.section-foot {
		.btn-default {
			min-width: 352px;
			padding: 15px 10px;
			
			@include media('<widescreen') {
				padding: 12px 10px;
				min-width: 270px;
			}
		}
		
		p {
			margin: 0;
			max-width: none;
		}
	}
}

/* infoarea */
.infoarea {
	margin: 0 0 60px;
	background: #f5f5f5;
	padding: 65px 0 14px;
	
	@include media('<widescreen') {
		margin: 0 0 30px;
		padding: 30px 0 14px;
	}
	
	.container {
		max-width: 1588px;
	}
	
	.holder {
		width: 100%;
		display: table;
	}
	
	.section-head {
		padding: 0 0 39px;
		@include media('<widescreen') {
			padding: 0 0 30px;
		}
		
		h1 {
			margin: 0 0 2px;
			letter-spacing: 0.03rem;
		}
		
		p {
			margin: 0 0 12px;
		}
	}
	
	.text-frame,
	.img-holder {
		display: table-cell;
		vertical-align: middle;
	}
	
	.img-holder {
		@include media('<tablet') {
			display: block;
			max-width: 400px;
			margin: 0 auto 30px;
		}
		img {
			@include img;
		}
	}
	
	.text-frame {
		width: 49.1%;
		color: #091d2f;
		padding: 0 11% 8.3% 3.3%;
		@include font(18px, 28px);
		
		@include media('<desktop') {
			width: 60%;
			padding: 0 0 0 10px;
		}
		
		@include media('<tablet') {
			width: auto;
			display: block;
			@include font(14px);
		}
	}
}

/* tabset */
.tabset {
	font-weight: 700;
	margin: 0 0 34px;
	@include font(16px);
	
	@include media('<tablet') {
		font-size: 14px;
		margin: 0 0 20px;
	}
	
	li {
		@include align;
		min-width: 125px;
		padding: 0 10px 0 0;
		letter-spacing: 0.05rem;
		
		@include media('<widescreen') {
			min-width: inherit;
			padding: 0 15px 0 0;
		}
		
		@include media('<tablet') {
			padding: 0 10px 0 0;
		}
	}
	
	a {
		color: #bbbbbb;
		text-transform: uppercase;
	}
	
	a:hover,
	.active a {
		color: #00b4ff;
		text-decoration: underline;
	}
}

/* services  */
.services  {
	padding-bottom: 48px;
	
	.section-head {
		padding: 0 0 37px;
		
		@include media('<widescreen') {
			padding: 0 0 30px;
		}
		
		h1 {
			margin: 0 0 -4px;
		}
		
		p {
			margin: 0 0 12px;
		}
	}
	
	.row {
		padding: 0 0 59px;
	}
	
	.post {
		z-index: 2;
		position: relative;
		text-align: center;
		
		a {
			color: #666;
			height: 100%;
			display: block;
			line-height: 28px;
			position: relative;
			padding: 53px 30px 37px;
			
			@include media('<widescreen') {
				padding: 30px 10px;
			}
			
			&:hover {
				color: #fff;
				
				[class^="icon-"], [class*=" icon-"],
				h2 { color: #fff; }
				
				&:after {
					height: 100%;
				}
			}
			
			&:after {
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: -1;
				height: 2px;
				position: absolute;
				background: #00b4ff;
				transition: all 0.25s ease;
			}
			
			> * {
				transition: all 0.25s ease;
			}
			
			[class^="icon-"], [class*=" icon-"] {
				display: block;
				color: #00b4ff;
				font-size: 34px;
				margin: 0 0 20px;
				min-height: 69px;
				
				&.icon-paper-plain {
					font-size: 43px;
				}
				
				&.icon-truck {
					font-size: 38px;
				}
			}
		}
	}
	
	h2 {
		color: #202020;
		font-weight: 700;
		margin: 0 0 22px;
		@include font(20px);
	}
	
	.section-foot {
		color: #091d2f;
		@include font(16px, 23px);
		
		.btn-default {
			margin: 0 0 14px;
			min-width: 277px;
			padding: 15px 10px;
			
			@include media('<widescreen') {
				padding: 12px 10px;
			}
		}
	}
	
}

/* map-area */
.map-area {
	margin: 0 0 59px;
	position: relative;
	
	@include media('<widescreen') {
		margin: 0 0 30px;
	}
	
	.info {
		color: #fff;
		margin: 0 0 78px;
		font-weight: 300;
		padding: 57px 0 44px;
		@include font(14px, 20px);
		background: url(../images/pattern.png);
		
		.container {
			max-width: 1420px;
		}
		
		.col-4 {
			text-align: center;
		}
	}
	
	h2 {
		font-weight: 700;
		margin: 0 0 35px;
		@include font(24px);
		
		@include media('<widescreen') {
			font-size: 18px;
		}
	}
	
	.icon-twitter,
	.icon-speed {
		color: #00b4ff;
		display: block;
		font-size: 36px;
		margin: 0 0 14px;
	}
	
	.value {
		display: block;
		margin: 0 0 5px;
		font-weight: 700;
		@include font(30px);
		
		@include media('<widescreen') {
			font-size: 20px;
		}
	}
	
	.icon-twitter {
		font-size: 32px;
		margin: 0 0 22px;
	}
	
	p {
		margin: 0;
		
		a {
			@include link-color(#00b4ff);
		}
	}
	
	blockquote {
		margin: 0;
		
		q {
			display: block;
			
			&:before,
			&:after { display: none; }
			
			a { font-weight: 700; }
		}
		
		cite {
			display: block;
			color: #00b4ff;
			font-style: normal;
		}
		
		a {
			@include link-color(#00b4ff);
		}
	}
	
	.note {
		color: #fff;
		padding: 10px;
		font-weight: 300;
		max-width: 636px;
		position: relative;
		border-radius: 5px;
		margin: 0 auto 73px;
		@include font(18px, 30px);
		background: rgba(#00b4ff, 0.3);
		
		.note-holder {
			text-align: center;
			background: #091d2f;
			padding: 42px 70px 47px;
			
			@include media('<widescreen') {
				padding: 30px;
			}
			@include media('<tablet') {
				padding: 30px 15px;
			}
		}
		
		p {
			margin: 0 0 40px;
		}
		
		.btn-default {
			font-weight: 700;
			min-width: 231px;
			padding: 15px 10px;
			
			@include media('<widescreen') {
				min-width: 180px;
				padding: 12px 10px;
			}
		}
	}
	
	.help-line {
		a {
			color: #ffd5dd;
			text-decoration: underline;
			
			&:hover {
				color: #ffd5dd;
				text-decoration: none;
			}
		}
	}
	
	.tweets-area {
		max-width: 300px;
		margin: 0 0 0 8.7%;
		
		@include media('<widescreen') {
			margin: 0;
			max-width: none;
		}
	}
}

/* star-rating */
ul.star-rating {
	margin: 0 0 12px;
	@include font(0,0);
	
	li {
		@include align;
		margin: 0 5px 5px;
		@include font(33px, 1);
		
		@include media('<widescreen') {
			font-size: 24px;
		}
	}
}

/* help-line */
.help-line {
	color: #fff;
	text-align: center;
	background: #ff476a;
	padding: 35px 0 45px;
	letter-spacing: 0.1rem;
	@include font(34px, 40px);
	
	@include media('<widescreen') {
		padding: 20px 0;
		@include font(24px);
	}
	
	p { margin: 0; }
	
}

/* site-info */
.site-info {
	color: #6886a1;
	font-weight: 300;
	background: #00213e;
	padding: 72px 0 75px;
	@include font(14px, 24px);
	
	@include media('<widescreen') {
		padding: 30px 0;
	}
	
	strong {
		font-weight: 600;
	}
	
	h2 {
		color: #00b4ff;
		margin: 0 0 17px;
		font-weight: 500;
		@include font(28px);
	}
	
	p {
		margin: 0 0 24px;
	}
	
	.col-4 {
		@include media('>=widescreen') {
			&:first-child {
				width: 37.433%;
				padding-right: 6%;
			}
			&:nth-child(2) {
				width: 28.333%;
			}
			&:nth-child(3) {
				width: 28.333%;
				margin: 0 -6px 0 0;
			}
		}
	}
}

/* tweets-slider */
.tweets-slider {
	position: relative;
	
	.sldieset {
		position: relative;
	}
	
	.slide {
		top: 0;
		left: 0;
		width: 100%;
		position: absolute;
		
		&.active {
			z-index: 2;
		}
		
		@include media('<widescreen') {
			min-height: 100px;
		}
		
		@include media('<desktop') {
			min-height: 120px;
		}
	}
}

/* hover-tooltip */
.hover-tooltip {
	color: #fff;
	z-index: 1100;
	font-weight: 300;
	padding: 5px 15px;
	@include font(13px);
	background: #161b21;
	margin: 20px 0 0;
	
	&:before {
		left: 50%;
		bottom: 100%;
		margin: 0 0 0 -7px;
		@include arrow(0 7px 7px);
		border-bottom-color: #161b21;
	}
}

/* btn-trigger-div */
.btn-trigger-div {
	margin: 0 0 -1px;
	@include size(1px);
	
	&.fixed-position {
		~ .btn-fixed {
			@include css3(transform,translate(0));
		}
	}
}

/* btn-fixed */
.btn-fixed {
	top: 0;
	right: 0;
	color: #fff;
	z-index: 1200;
	padding: 10px;
	position: fixed;
	@include size(98px);
	@include css3(transform,translate(0,-100%));
	
	&:hover {
		&:before {
			border-top-color: #ff476a;
		}
	}
	
	&:before {
		top: 0;
		left: 0;
		@include arrow(98px 0 0 98px);
		border-top-color: #55d423;
		transition: all 0.25s;
	}
	
	* {
		z-index: 2;
		position: relative;
	}
	
	.logo {
		float: none;
		display: block;
		font-size: 30px;
		@include size(30px);
		margin: -11px 0 0 auto;
	}
	
	.text {
		top: 29px;
		right: 0;
		font-weight: 700;
		position: absolute;
		@include css3(transform,rotate(45deg));
	}
}

.pp {
	top: 0;
	left: 0;
	position: absolute;
	
	~ #wrapper {
		z-index: 2;
		opacity: 0.65;
	}
}

 @-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}