/*------added by harpreet------*/
.login .content .form-control
{
	background:#fff;
	  border: 1px solid #fff;
	  color:#3f2e56;
}
.login .btn-primary
{
	background:#2ecffb;
	border-color:#2ecffb;
	color:#fff;
}
.login .btn-primary:hover {
background:#2ecffb;
	border-color:#2ecffb;
	color:#fff;
}.login .content .form-control:focus, .login .content .form-control:active {
    border: 1px solid #332546;
}
.login .btn-default {
   background:#332546;
	border-color:#332546;
	color:#fff;
    font-weight: 600;
    padding: 10px 25px !important;
}
.login .btn-default:hover {
   background:#332546;
	border-color:#332546;
	color:#fff;
    font-weight: 600;
    padding: 10px 25px !important;
}


    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
.width_50_slider
{float: left;
    margin-left:0;
    margin-right:10%;
    width: 40%;
}
.profile-usertitle
{
	text-align:left;
}
.profile-usertitle-name
{
	font-weight:bold;
	color:#332546;
	text-transform:uppercase;
}
.profile-usertitle-job
{
	margin-top:0px;
	font-weight:500;
	font-size:20px;
	color:#737171;
}
.margin-top-20 i
{
	 background: #cacaca none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    padding: 10px;
    text-align: center;
    width: 35px;
	margin-right:5px;
	font-size:17px;
	line-height:15px;
}
.margin-top-20.profile-desc-link
{
	margin-right:10px;
}
.page-logo img
{
	width:160px !important;
	height:46px !important;
}
.page-header.navbar .page-logo .logo-default
{
	margin:0 !important;
}
.item-details i
{
	background:none !important;
}
h4.profile-desc-title 
{
	font-weight:bold;
	margin-bottom:5px;
	margin-top:5px;
}
.page-header.navbar
{
	background:#1a3752;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar
{
	background:#1a3752 ;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a
{
	  border-top:1px solid #32516d !important;
	  font-weight:500;
}

body
{
	background:#1a3752;
}


.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a
{background:#1a3752 ;
    color: #fff;}
	
li.active > a {
    background: #fff none repeat scroll 0 0 !important;
    color: #332546 !important;
}
li.active > a i
{
	color: #6b788b !important;

}
li.active:hover i
{
	color: #332546 !important;

}
li .sidebar-toggler i
{
	 background: #E6E6E6 none repeat scroll 0 0;

    display: inline-block;
    float: right;
    font-size: 15px;
    height: 31px;
    line-height: 11px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: 32px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler, .page-sidebar .sidebar-toggler
{
	background:none;
	margin-bottom: 10px;
    margin-right: 10px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a
{
	background:none !important;
    color: #fff !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li > a > i
{
	color:#fff !important;
}
li:hover a i.fa-link
{
	color:#fff !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle
{
		font-family: "Open Sans",sans-serif;

}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
{
	background-color:#e0eaec;

}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a
{

	font-family: "Open Sans",sans-serif;
}
.page-container-bg-solid .page-title
{
	font-weight:bold;
}
.general-item-list > .item
{
	width:100%;
	display:inline-block;
	padding:0;
}
.general-item-list > .item > .item-head
{
	float:left;
	display:inline-block;
}
.general-item-list > .item > .item-body {
    color: #96a5aa;
    display: inline-block;
    float:right;
    margin-left:10px;
    width: 60%;
	line-height:25px;
}
.portlet.light .portlet-body
{
	padding-top:0px;
}
.margin-top-20 .item-details i
{
	height:25px;
	line-height:0px;
	color:#332546;
	font-weight:500;
}
.portlet.light > .portlet-title {
    min-height: 27px;
    padding: 0;
}
.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 0;
}


.owl-theme .owl-controls .owl-page span
{
	border-radius:50% !important;
}
#owl-demo .item img {
    border: 1px solid #cacaca;
    border-radius: 50% !important;
    display: block;
    height: 250px !important;
    width: 250px !important;
}
.text-login
{
	text-decoration:underline;
}

/*add by lovepreet*/
.oid
{
	color: #000;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
   text-decoration-line: none;
}

.oid:hover
{
	color: #000;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
 
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i, .page-sidebar .page-sidebar-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu > li.open > a > i
{
	color:#fff;
}
li.active:hover a i
{
	color:#606c7d !important;
}
.login
{
	background:#1a3752 !important;
}
@media (max-width:600px)
{
	.width_50_slider {
    float: left;
    margin-left: 0;
    margin-right: 10%;
    width: 100%;
}
.general-item-list > .item > .item-body {
    color: #96a5aa;
    display: inline-block;
    float: right;
    line-height: 25px;
    margin-left: 10px;
    width: 38%;
}
}
