// footer

.bottom-container {
	text-align: center;
	position: relative;
}

/* footer-aside */
.footer-aside {
	color: #acacac;
	@include font(14px);
	padding-bottom: 60px;
	
	@include media('<widescreen') {
		padding-bottom: 30px;
	}
	
	h3 {
		color: #091d2f;
		margin: 0 0 37px;
		font-weight: 300;
		@include font(30px);
		
		@include media('<tablet') {
			font-size: 22px;
			margin: 0 0 20px;
		}
	}
	
	.btn-default {
		margin: 0 0 13px;
		min-width: 381px;
		font-weight: 700;
		padding: 17px 10px;
		@include font(20px);
		text-transform: uppercase;
		
		@include media('<widescreen') {
			font-size: 16px;
			min-width: 280px;
			padding: 12px 10px;
		}
	}
	
	p {
		margin: 0 0 20px;
		letter-spacing: 0.035rem;
	}
}

/* footer */
#footer {
	color: #acacac;
	padding: 48px 20px;
	@include font(14px);
	background: url(../images/shadow.png) no-repeat 50% 0;
	
	.social-networks {
		margin: 0 0 35px;
	}
	
	p {
		margin: 0 0 10px;
		letter-spacing: 0.03rem;
		
		a {
			@include link-color(#acacac);
		}
	}
}

/* social-networks */
.social-networks {
	@include font(0,0);
	
	li {
		@include align;
		margin: 0 11px 11px;
		
		@include media('<desktop') {
			margin: 0 5px 5px;
		}
	}
	
	a {
		display: block;
		color: #dbdbdb;
		@include size(59px);
		border-radius: 100%;
		border: solid 1px #dbdbdb;
		
		@include media('<desktop') {
			@include size(34px);
		}
		
		&:hover {
			color: #00b4ff;
			border-color: #00b4ff;
		}
		
		i {
			display: block;
			border-radius: 100%;
			@include font(31px,59px);
			
			@include media('<desktop') {
				@include font(18px, 34px);
				
				&.icon-twitter {
					font-size: 16px;
				}
			}
		}
	}
}

/* footer-nav */
.footer-nav {
	margin: 0 0 20px;
	@include media('<tablet') {
		padding: 20px 0;
		border: solid #acacac;
		border-width: 1px 0;
	}
	
	ul {
		@include font(0,0);
	}
	
	li {
		@include align;
		@include font(14px);
		
		
		@include media('<tablet') {
			display: block;
			
			+ li {
				&:before {
					content: '_';
					display: block;
					margin: 0 0 5px;
				}
			}
		}
		
		&:first-child a {
			&:before {
				background: transparent;
			}
		}
		&:last-child a {
			&:after {
				background: transparent;
			}
		}
		
		&:hover a {
			&:after,
			&:before {
				background: #acacac !important;
			}
		}
	}
	
	a {
		color: #acacac;
		display: block;
		padding: 0 11px;
		position: relative;
		letter-spacing: 0.03rem;
		
		&:hover {
			color: darken(#acacac, 30%);
		}
		
		&:before,
		&:after {
			top: 2px;
			left: 0;
			width: 1px;
			content: '';
			height: 14px;
			background: #acacac;
			position: absolute;
			transition: all 0.25s;
			pointer-events: none;
			
			@include media('<tablet') {
				display: none !important;
			}
		}
		
		&:after {
			right: 0;
			left: auto;
		}
		
		&:hover {
			&:before,
			&:after {
				left: 50%;
				height: 30px;
				margin: 10px 0 0 -2px;
				transform: rotate(90deg);
			}
			
			&:after {
				top: auto;
				right: 50%;
				left: auto;
				bottom: 0;
				margin: 0 0 13px;
			}
		}
	}
}